<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: page(~{::body})}">
<body>
<div class="header">
    <h1 th:text="${device.id} != null ? '编辑设备' : '新增设备'"></h1>
</div>
<div class="grid">
    <div class="card">
        <form th:action="@{/devices}" th:object="${device}" method="post">
            <input type="hidden" th:if="*{id}" th:field="*{id}" />
            <label>名称</label>
            <input type="text" th:field="*{name}" placeholder="设备名称" required>
            <label>协议</label>
            <select th:field="*{protocol}">
<!--                <option value="modbus-tcp">Modbus TCP</option>-->
                <option value="opcua" selected="selected" >OPC UA</option>
            </select>
            <label>连接字符串</label>
            <input type="text" th:field="*{connectionString}" placeholder="例: modbus:tcp://127.0.0.1:502?unit-id=1" required>
            <button type="submit">保存</button>
            <a class="button-link" href="/devices">返回</a>
        </form>
    </div>
</div>
</body>
</html>

